@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
 
* {
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #DDD;
}
.top{
    margin-left: 200px;
}
.list {
    padding: 100px;
    margin-left: 150px;
    width: 60%;
}
img {
    width: 100%;
}
h1 {
    display: flex;
    font-size:2.5rem;
    margin-bottom: 10px;
}
.image {
    display: flex;
    width: 60px;
}
header {
    display: flex;
    margin-bottom: 10px;  
}
form {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
}
input[type="text"],
input[type="date"],
input[type="submit"],
select
{
    border-radius: 20px;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #3fccc3;
    color: #3fccc3;
}
.btnAdd {
    color: #3fccc3;
    border: 2px solid #3fccc3;
}
table {
    margin-left: 10px;
    width: 100%;
    text-align: center;
}
th {
    padding: 8px 0;
}
td {
 
    border-bottom: 2px solid #3fccc3;
    padding: 8px 0;
}
tr:first-child {
    text-align: center;
    box-shadow: 0px 1px #3fccc3;
}
tr td:last-child,
tr td:nth-last-child(2) {
    text-align: center;
}
.btnEdit {
   background-color: #ddd;
   color: #3fccc3;
   border: none;
}
.btnDelete {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border: none;
}